<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css" crossorigin="anonymous">

    <title>Manga Reader</title>
</head>
<body>
<div style="margin: 1%">
    <h1 class="text-center">Manga To Read</h1>
    <p class="lead">There {% if count == 1 %} is {% else %} are {% endif %} <strong>{{ count }}</strong> {% if count == 1 %}manga{% else %}mangas{% endif %} that can be read.</p>
    <ul>
        {% for name in names %}
            <li><a href="{{ name }}">{{ name.replace("-", " ") }}</a></li>
        {% endfor %}
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
